body {
  font-family: system-ui, sans-serif;
  margin: none;
}

h1 {
  text-align: center;
}

.player-name,
.game-status {
  text-align: center;
}

.gameboards {
  display: flex;
  justify-content: space-around;
}

.grid {
  height: 400px;
  width: 400px;
  display: grid;
  grid-template: 1fr 10fr / 1fr 10fr;
}

.grid-letters {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.grid-numbers {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.grid-cells {
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  gap: 1px;
}

.cell-btn {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #e2e8f0;
  color: #ffffff;
}

.cell-btn:disabled {
  cursor: auto;
  background-color: #f1f5f9;
}

.cell-btn.empty-cell-hit {
  background-color: #fde047;
}

.cell-btn.ship-cell-hit {
  background-color: #ef4444;
}

.game-btns {
  margin-top: 15px;
}

.game-btn {
  margin-right: 10px;
  background-color: #bfdbfe;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}
